MONGODB_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.mongodb.net/mainApp?retryWrites=true&w=majority&appName=cluster0
TEST_MONGODB_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.mongodb.net/testApp?retryWrites=true&w=majority&appName=cluster0
USER_NAME=your_user
PASSWORD=your_not_encoded_password
PASSWORD_ENCODED=your%40encoded%23pass
TOKEN_SECRET=jkh514379ofho7%^9j1jk%*819skkskodha@
PORT=3003